.jumbotron {
  text-align:left;
  color: #000000;
  background-color: #7FFFD4;
  background-image: url("owlcalc.png");
  background-position: right;
  background-repeat: no-repeat;
  text-shadow: 3px 3px 5px #27a59f;
  box-shadow: 8px 8px 5px #27a59f;
  margin: 15px 5px
}

span.glyphicon {
  color: #20B2AA;
}

body {
  background-color: #F0F8FF;
  margin: 10px 5px 15px;
  padding-bottom: 10px;
}

p.results {
  font-size: 250%;
  text-align: center;
  font-weight: bold;
  color: #22918b;
}

span.error {
  color: red;
  font-style: oblique;
}

.button-primary-color {
  background: #2AB5AD;
  color: white;
  border: 1px solid #008178;
}

.button-primary-color:hover , .button-primary-color:focus {
  background: #4ec6bd;
  color: white;
  border: 1px solid #008178;
}

.row{
  margin-bottom: 20px;
}

h4 {
  color: #22918b;
}

.glyphicon + .tooltip > .tooltip-inner {
  background-color: #27a59f;
  color: white;
  border: 1px solid #008178;
}

h3 {
  color: #22918b;
}
